
.navbar.bg-white {
    background-color: #886FB2 !important;
    color: white
}

.navbar-nav .nav-link {
    color: white !important;
    font-family: "Roboto Slab";
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-momo {
    background-color: #8E6ECF;
    border-color: #8E6ECF;
}

.container.custom-body {
    /*because of the fixed navbar*/ 
    padding-top: 90px !important;
}