
.navbar.bg-white {
    background-color: #8E6FCE !important;
    color: white
}

.navbar-nav .nav-link {
    color: white !important;
    font-family: "Roboto Slab";
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-momo {
    background-color: #8E6FCE;
    border-color: #8E6FCE;
}

.container.custom-body {
    /*because of the fixed navbar*/ 
    padding-top: 90px !important;
}


/* Cookie alert */

.cookiealert {
    background: #8E6FCE;
    color: white;
}

.cookiealert a {
     color: white;
}