@page
@model Kltsgvts17.Web.kepviselokModel
@{
    ViewData["Title"] = "kepviselok";
}

    <div class="text-center">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-4">Képviselői keret 2019 Q4</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h5>
                            "Az összegből az egyes egyéni választókerületekre <strong>10-10 millió Ft-ot</strong> fordíthat
                            a választókerület területén út, járda, víz-, csatorna-, gázhálózat, felszíni
                            vízelvezető rendszer és elektromos hálózat terveztetésére és kivitelezésére,
                            az önkormányzati fenntartású intézmények felújítására és tárgyieszköz-beszerzésére,
                            a választókerület lakosságával közvetlenül összefüggő feladatokra és a
                            költségvetési szervek támogatására."
                        </h5>
                        <p>
                            <h5>Az alábbi táblázatban a XVII. kerületi képviselők által 2019. utolsó negyedévében kiosztott támogatások láthatóak.</h5>
                        </p>
                        <p>
                            <h6>
                                Forrás: <a href="http://www.rakosmente.hu/Libraries/KTCS_El%C5%91terjeszt%C3%A9sek/23_2020_02_13_Besz%C3%A1m_v%C3%A1laszt%C3%B3ker%C3%BCleti_c%C3%A9ltartal%C3%A9kpm_hk%C3%B6rben_t%C3%B6rt_2019_IV_n%C3%A9v_felhaszn.sflb.ashx" target="_blank">
                                    Önkormányzat (pdf)
                                </a>
                            </h6>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h3>4. negyedév</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered compact" id="dataTableKepviselok" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Választókerület</th>
                                        <th>Címzettek</th>
                                        <th>Megvalósított feladat</th>
                                        <th>Összeg</th>
                                    </tr>
                                </thead>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

@section Scripts {
    <!-- Page level plugins -->
    <!-- Page level custom scripts -->
    <script src="~/js/datatables-2019-kepviselok.js"></script>
}




