@page
@model Kltsgvts17.Web.polgarmesterModel
@{
    ViewData["Title"] = "polgarmester";
}

    <div class="text-center">

        <h1 class="align-content-md-start">Polgármesteri keret 2019</h1>

        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <p>
                            <h5>Az alábbi táblázatban a polgármester által 2019. utolsó negyedévében kiosztott támogatások láthatóak.</h5>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h3>4. negyedév</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered compact" id="dataTablePolgarmester" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Címzettek</th>
                                        <th>Megvalósított feladat</th>
                                        <th>Összeg</th>
                                    </tr>
                                </thead>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

@section Scripts {
    <!-- Page level plugins -->
    <!-- Page level custom scripts -->
    <script src="~/js/datatables-2019-polgarmester.js"></script>
}


