@page
@{
    ViewData["Title"] = "Rákosmente költségvetése 2020";
}

@section AddToHead {
    <!-- Custom styles for this page -->    
    <link rel="stylesheet" href="~/css/site-custom-2020.css" />
}

<div class="text-center col-xl">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="display-4">Rákosmente költségvetése 2020</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h5>
                        Az alábbi táblázatban a 2020-as költségvetés kiadási tételei láthatóak,
                        előirányzatok szerint csoportosítva. A teljes, eredeti dokumentum (pdf)
                        <a href="http://www.rakosmente.hu/Libraries/KTCS_El%C5%91terjeszt%C3%A9sek/29_2020_02_13_Jav_2020_%C3%A9vi_k%C3%B6lts%C3%A9gvet%C3%A9s_megalkot%C3%A1s%C3%A1ra.sflb.ashx">innen tölthető le.</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header">
                    <h4>Kiadások (ezer Forint)</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableKiadasokFull" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Előirányzat</th>
                                    <th>Személyi juttatások</th>
                                    <th>Munkáltatót terhelő járulékok</th>
                                    <th>Dologi kiadások</th>
                                    <th>Ellátottak pénzbeli juttatásai</th>
                                    <th>Egyéb működési célú kiadások</th>
                                    <th>Beruházások</th>
                                    <th>Felújítások</th>
                                    <th>Egyéb felhalmozási célú kiadások</th>
                                    <th>Költségvetési kiadások</th>
                                    <th>Finanszírozás</th>
                                    <th>Összesen</th>
                                </tr>
                            </thead>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    <div class="row">
 
    </div>

    <div class="row">

    </div>
</div>

@section Scripts {
    <!-- Page level plugins -->

    <!-- Page level custom scripts -->
    <script src="~/js/datatables-2020.js"></script>
}