@page
@model IndexModel
@{
    ViewData["Title"] = "Rákosmente költségvetése";
}

@section AddToHead {
    <!-- Custom styles for this page -->
    <link href="lib/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<div class="text-center">

    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <hr>
                    <h3>A 2020-ra tervezett kiadások</h3>
                    <h4><strong>26 milliárd Forint</strong></h4>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <h1 class="display-4">Rákosmente költségvetése</h1>
            <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card mb-4">
                    @*<div class="card-header">
                        Az alábbi linken a részletes költségvetést böngészheti
                    </div>*@
                    <div class="card-body">
                        <p>
                            <a href="/2020" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">Részletes költségvetés 2020</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>2019. 4. negyedévi céltartalék</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            <a href="/2019/polgarmester" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">Polgármesteri keret</span>
                            </a>
                            <a href="/2019/kepviselok" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">Képviselői keret</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <h4>Bevételek (ezer Forint)</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableBevetelek" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Jogcím</th>
                                        <th>2019</th>
                                        <th>2020</th>
                                        <th>Változás</th>
                                    </tr>
                                </thead>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header">
                        <h4>Kiadások  (ezer Forint)</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableKiadasok" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Jogcím</th>
                                        <th>2019</th>
                                        <th>2020</th>
                                        <th>Változás</th>
                                    </tr>
                                </thead>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <!-- Page level plugins -->
        <script src="lib/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/chart-pie-index-main.js"></script>
        <script src="js/datatables-index.js"></script>
    }