@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <hr>
                    <h3>A 2020-ra tervezett kiadások</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <h1 class="display-4">Rákosmente költségvetése</h1>
            <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Személyesen támogatott szervezetek és események <b>2019.</b> 4. negyedévben.</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            <a href="#" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">Polgármesteri keret 2019. Q4</span>
                            </a>
                        </p>
                        <p>
                            <a href="#" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">Képviselői keret 2019. Q4</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page level plugins -->
<script src="lib/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/chart-pie-index-main.js"></script>
