@page
@{
    ViewData["Title"] = "Rákosmente költségvetése - 2020";
}

@section AddToHead {
    <!-- Custom styles for this page -->
    @*<link href="lib/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">*@
}

<div class="text-center">

    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h3>Elérhetőségeink</h3>
                </div>
                <div class="card-body text-left">
                    <p>
                        <a href="https://www.facebook.com/momentumrakosmente" class="btn btn-primary btn-circle btn-lg">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.facebook.com/momentumrakosmente">Momentum Rákosmente</a>
                    </p>
                    <p>
                        <a href="#" class="btn btn-success btn-circle btn-lg btn-momo">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                        <a href="mailto:bp17@momentum.hu">bp17 kukac momentum.hu</a>
                    </p>
                    <p>
                        <a href="https://momentum.hu" class="btn btn-primary btn-circle btn-lg btn-momo" target="_blank">
                            @*<i class="fab fa-facebook-f"></i>*@
                            <img src="~/img/mm_logo_kicsi.jpg" class="img-fluid" alt="Momentum Rákosmente">
                        </a>
                        <a href="https://momentum.hu" target="_blank">www.momentum.hu</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
    </div>

</div>

@section Scripts {
    <!-- Page level plugins -->

    <!-- Page level custom scripts -->
    @*<script src="js/datatables-index.js"></script>*@
}