@page
@{
    ViewData["Title"] = "Rákosmente költségvetése - 2020";
}

@section AddToHead {
    <!-- Custom styles for this page -->
    <link href="lib/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<div class="text-center">

    <div class="row">
 
    </div>

    <div class="row">

    </div>
</div>

@section Scripts {
    <!-- Page level plugins -->

    <!-- Page level custom scripts -->
    <script src="js/datatables-index.js"></script>
}